.aheader{background-color:white;}
.Apresentation{background-color:blue;
               color:white;}
#firstbutton{background-color: crimson;}

.topsite {display:flex;
          flex-direction:row;              
                        }

#logoplateforme {width: 260px;
                 height: 43px ;}

.formations {display: flex;
                           }          
.webcoding {flex: 1;
    border: 2px solid yellow;}

.Transfonum {
    margin-left: auto;
    margin-right: auto;
    width: 27em
}

a { color: inherit;
    text-decoration: none;                 } 

.blue {background-color: #F9F9FD;}

.abutton {color: white;
    background-color: #F9CA4A;
            border-radius: 10%;}
           

.amenu{
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;}
.amenu li {display: inline;}

#eleves {height: 614px;
         width: 614px;}
.Apresentation {height: 614px;
                width: 614px;
                text-align: center;
                vertical-align: middle;        }

.accueil1{display: flex;
    flex-direction: row;
    align-items: stretch;}

#logowebschool {height: 100px;
                width: 100px;}
#logotalent {height: 100px;
            width: 100px;}
#logocollab {height: 100px;
            width: 100px;}
#logoinnov {height: 100px;
             width: 100px;}            



.afooter{background-color:#C53571;
         color:white;}

#logoplateformefooter {height: 250px;
                        width : 250px}

.legros {background-color: #275FA1;
        color: white;}

.titredigital {font-size: 4em;}

.legros {display: flex;
}          
.digi1 {flex: 1;
border: 2px solid yellow;}

.Inscrdigi {color: white;
    background-color: #F9CA4A;
            border-radius: 10%;
            height: 200px;
            width: 200px;
            margin-left: 300px;
            margin-right: auto;}